  <launch>
    <!-- ################################ -->
    <!-- XML: original FastArmer exp0 via robot_model switch begin -->
    <!-- ################################ -->
    <arg name="use_rviz" default="true"/>
    <arg name="target_type" default="2"/>
    <include file="$(find remani_planner)/launch/remani_sim.launch">
      <arg name="robot_model" value="fast_armer"/>
      <arg name="use_rviz" value="$(arg use_rviz)"/>
      <arg name="target_type" value="$(arg target_type)"/>
    </include>
    <!-- ################################ -->
    <!-- XML: original FastArmer exp0 via robot_model switch end -->
    <!-- ################################ -->
  </launch>
