<?xml version="1.0"?>
<!-- ################################ -->
<!-- XML: Ranger+CR10 REMANI sim launch begin -->
<!-- ################################ -->
<launch>
  <arg name="map_size_x" value="20.0"/>
  <arg name="map_size_y" value="8.0"/>
  <arg name="map_size_z" value="3.0"/>
  <arg name="generate_map_size_x" default="8"/>
  <arg name="generate_map_size_y" default="8"/>
  <arg name="generate_map_size_z" default="3"/>
  <arg name="map_resolution" value="0.05"/>
  <arg name="exp_param_file" default="$(find remani_planner)/config/exp_ranger_cr10_param.yaml"/>
  <arg name="odom_topic" value="/mm/car/odom"/>
  <arg name="joint_state_topic" value="/mm/mani/joint_state"/>
  <arg name="joint_cmd_topic" value="/mm_controller_node/joint_cmd"/>
  <arg name="gripper_cmd_topic" value="/mm_controller_node/gripper_cmd"/>
  <arg name="gripper_state_topic" value="/mm/mani/gripper_state"/>
  <arg name="use_rviz" default="true"/>
  <!-- 1: RViz 2D Nav Goal 手动给点; 2: 预设 waypoint -->
  <arg name="target_type" default="1"/>

  <!-- Ranger-friendly search radius (also set on planner private ns below) -->
  <param name="search/min_turning_radius" value="0.9"/>
  <!-- Manual goal by default for interactive sim -->
  <param name="fsm/target_type" value="$(arg target_type)"/>

  <!-- Whole-body URDF visualization (no hardware drivers) -->
  <param name="robot_description"
         textfile="$(find rangerboxcr10lidar_description)/urdf/rangercr10lidar.urdf"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

  <!-- Planner + controller -->
  <include file="$(find remani_planner)/launch/advanced_param_sim.xml">
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="exp_param_file" value="$(arg exp_param_file)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <arg name="joint_state_topic" value="$(arg joint_state_topic)"/>
    <arg name="joint_cmd_topic" value="$(arg joint_cmd_topic)"/>
    <arg name="gripper_cmd_topic" value="$(arg gripper_cmd_topic)"/>
    <arg name="gripper_state_topic" value="$(arg gripper_state_topic)"/>
    <arg name="camera_pose_topic" value="pcl_render_node/camera_pose"/>
    <arg name="depth_topic" value="pcl_render_node/depth"/>
    <arg name="cloud_topic" value="pcl_render_node/cloud"/>
    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>
    <arg name="target_type" value="$(arg target_type)"/>
    <arg name="min_turning_radius" value="0.9"/>
  </include>

  <!-- fake_mm simulator (legacy car_cmd / joint_cmd) -->
  <node pkg="fake_mm" name="fake_mm" type="fake_mm" output="screen">
    <rosparam file="$(arg exp_param_file)"/>
    <rosparam file="$(find remani_planner)/config/mm_param.yaml"/>
    <param name="fake_mm/pub_urdf_joint_states" value="true"/>
    <remap from="~command" to="planning/pos_cmd"/>
    <remap from="~odometry" to="$(arg odom_topic)"/>
    <remap from="~joint_cmd" to="$(arg joint_cmd_topic)"/>
    <remap from="~joint_state" to="$(arg joint_state_topic)"/>
    <remap from="~gripper_state" to="$(arg gripper_state_topic)"/>
    <remap from="~gripper_cmd" to="$(arg gripper_cmd_topic)"/>
  </node>

  <node pkg="fake_mm" name="model_vis" type="model_vis" output="screen">
    <rosparam file="$(find remani_planner)/config/mm_param.yaml"/>
    <remap from="~command" to="planning/pos_cmd"/>
    <remap from="~odometry" to="$(arg odom_topic)"/>
    <remap from="~joint_cmd" to="$(arg joint_cmd_topic)"/>
    <remap from="~joint_state" to="$(arg joint_state_topic)"/>
    <remap from="~gripper_state" to="$(arg gripper_state_topic)"/>
  </node>

  <!-- Simulated map / perception -->
  <node pkg="map_generator" name="map_generator" type="map_generator" output="screen">
    <rosparam file="$(find remani_planner)/config/mm_param.yaml"/>
    <rosparam file="$(arg exp_param_file)"/>
    <param name="map/x_size" value="$(arg generate_map_size_x)"/>
    <param name="map/y_size" value="$(arg generate_map_size_y)"/>
    <param name="map/z_size" value="$(arg generate_map_size_z)"/>
    <param name="map/resolution" value="$(arg map_resolution)"/>
    <param name="map/seed" value="30"/>
    <param name="map/obs_num" value="20"/>
    <param name="map/float_obs_num" value="30"/>
    <param name="ObstacleShape/radius_l" value="0.3"/>
    <param name="ObstacleShape/radius_h" value="0.5"/>
    <param name="ObstacleShape/z_l" value="0.9"/>
    <param name="ObstacleShape/z_h" value="1.2"/>
    <param name="ObstacleShape/theta" value="0.5"/>
    <param name="pub_rate" value="1.0"/>
    <param name="min_distance" value="1.2"/>
  </node>

  <group if="$(arg use_rviz)">
    <!-- ################################ -->
    <!-- XML: Ranger+CR10 RViz (RobotModel) begin -->
    <!-- ################################ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find remani_planner)/launch/remani_ranger_cr10.rviz"/>
    <!-- ################################ -->
    <!-- XML: Ranger+CR10 RViz (RobotModel) end -->
    <!-- ################################ -->
  </group>
</launch>
<!-- ################################ -->
<!-- XML: Ranger+CR10 REMANI sim launch end -->
<!-- ################################ -->
