<?xml version="1.0"?>
<!-- ################################ -->
<!-- XML: Ranger+CR10 thin wrapper -> remani_sim begin -->
<!-- ################################ -->
<launch>
  <arg name="use_rviz" default="true"/>
  <arg name="target_type" default="1"/>
  <include file="$(find remani_planner)/launch/remani_sim.launch">
    <arg name="robot_model" value="ranger_cr10"/>
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="target_type" value="$(arg target_type)"/>
  </include>
</launch>
<!-- ################################ -->
<!-- XML: Ranger+CR10 thin wrapper -> remani_sim end -->
<!-- ################################ -->
