<?xml version='1.0'?>
<launch>
    <arg name="port_name" default="can0"/>
    <arg name="robot_model" default="ranger"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="base_frame" default="base_link" />
    <arg name="update_rate" default="50" />
    <arg name="odom_topic_name" default="odom" />
    <arg name="publish_odom_tf" default="false" />
    <!-- ################################ -->
    <!-- XML: cmd_vel watchdog launch args begin -->
    <!-- ################################ -->
    <arg name="cmd_vel_timeout" default="0.20"/>
    <arg name="command_zero_epsilon" default="0.0001"/>
    <!-- ################################ -->
    <!-- XML: cmd_vel watchdog launch args end -->
    <!-- ################################ -->
    <!-- ################################ -->
    <!-- XML: optional hardware topic remap (REMANI real overrides) begin -->
    <!-- ################################ -->
    <arg name="cmd_vel_remap" default="/cmd_vel"/>
    <!-- ################################ -->
    <!-- XML: optional hardware topic remap (REMANI real overrides) end -->
    <!-- ################################ -->

    <node name="ranger_base_node" pkg="ranger_base" type="ranger_base_node" output="screen">
        <param name="port_name" type="string" value="$(arg port_name)" />
        <param name="robot_model" type="string" value="$(arg robot_model)" />
        <param name="odom_frame" type="string" value="$(arg odom_frame)" />
        <param name="base_frame" type="string" value="$(arg base_frame)" />
        <param name="update_rate" type="int" value="$(arg update_rate)" />
        <param name="odom_topic_name" type="string" value="$(arg odom_topic_name)" />  
        <param name="publish_odom_tf" type="bool" value="$(arg publish_odom_tf)" />
        <!-- ################################ -->
        <!-- XML: pass watchdog params begin -->
        <!-- ################################ -->
        <param name="cmd_vel_timeout" value="$(arg cmd_vel_timeout)"/>
        <param name="command_zero_epsilon" value="$(arg command_zero_epsilon)"/>
        <!-- ################################ -->
        <!-- XML: pass watchdog params end -->
        <!-- ################################ -->
        <!-- ################################ -->
        <!-- XML: remap absolute /cmd_vel begin -->
        <!-- ################################ -->
        <remap from="/cmd_vel" to="$(arg cmd_vel_remap)"/>
        <!-- ################################ -->
        <!-- XML: remap absolute /cmd_vel end -->
        <!-- ################################ -->
    </node>
</launch>
